@font-face {
font-family: 'Fresh Script';
font-style: normal;
font-weight: normal;
src: local('Fresh Script'), url('Fresh Script.woff') format('woff');
}



.header-logo {
  width: 100px;
  animation: header-logo-spin infinite 30s linear;
  float: left;
  margin-top: 5px;
}
@keyframes header-logo-spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
.header-logo2 {
  width: 100px;
  animation: header-logo-spin infinite 30s linear;
  float: right;
  margin-top: -75px
}
.header-title {
  text-align: center;
  font-family: "Fresh Script";
  padding-right: 70px;
  color: #383838;
}
.header {
  background: linear-gradient(to bottom, rgba(203, 164, 140, 1) 0%, rgba(254, 254, 254, 0.4) 100%);
  background-color: rgba(203, 164, 140, 1);
  padding: 10px
}
